body {
  padding-bottom: 30px;
}

.irene {
  text-align: center;
}

.irenec {
  width: auto;
}

.btn-irene {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ace_hidden-cursors {
  opacity: 0;
}

.ace_editor {
    border: 1px solid #ddd;
}

.ace_gutter {
    background: #f7f7f7;
    border-right: 1px solid #ddd;
}
