body {
  padding-bottom: 30px;
}

.centered {
  text-align: center;
}

.irenec {
  width: auto;
}

.padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.margin {
  margin: 10px;
}

.ace_hidden-cursors {
  opacity: 0;
}

.ace_editor {
    border: 1px solid #ddd;
}

.ace_gutter {
    background: #f7f7f7;
    border-right: 1px solid #ddd;
}
